
%flexbox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    flex-direction: row;
}

%fillspace {
    width: 100%;
    height: 100%;
}

%mobile-screen-space {
    width: 80%;
    height: 200%;

    margin-top: 100px;
    // transform: translate(0px, 500px);
}


@mixin theme($primary-color: DarkGray) {
    background: $primary-color;
    box-shadow: 0 0 1px rgba($primary-color, .25);
    color: #fff;
}

.info {
    @include theme;
}
.alert {
    @include theme($primary-color: DarkRed);
}
.success {
    @include theme($primary-color: DarkGreen);
}