@use 'vars';
@use 'mixins';

.app-menu {
    width: 100%;
    height: calc(100% - vars.$dockbar-height);
    border-radius: vars.$app-menu-border-radius;
}

.dockbar {
    @extend %fillspace;
    height: vars.$dockbar-height;
    @extend %flexbox;
    justify-content: space-evenly;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px inset, rgba(0, 0, 0, 0.22) 0px 15px 12px inset;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px inset, rgba(0, 0, 0, 0.22) 0px 10px 10px inset;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px inset, rgba(0, 0, 0, 0.23) 0px 6px 6px inset;
}

.app {
    width: vars.$iPhone14-app-size;
    height: vars.$iPhone14-app-size;

    @extend %flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: vars.$app-bg-color;
    
    font-family: 'Belanosima', sans-serif;
    color: vars.$app-text-color;


    margin: 10px;
    
    border-radius: vars.$app-border-radius;

    box-shadow: rgba(0, 0, 0, 0.19) 10px 10px 20px, rgba(0, 0, 0, 0.23) 6px 6px 6px;
    transition: color ease 1.2s;

    
    @media screen and (orientation: portrait) {
        width: vars.$iPhone5s-app-size;
        height: vars.$iPhone5s-app-size;
    }
}
.app:hover {
    color: vars.$app-text-highlight-color; 
}
.app.fade {
    box-shadow: 0 0 0 rgba($color: #fff, $alpha: 0);
    background-color: rgba($color: #fff, $alpha: 0);
}

.dockbar-item {
    width: vars.$dockbar-item-side;
    height: vars.$dockbar-item-side;
    background-color: vars.$dockbar-item-bg-color;

    margin: 10px;
    
    border-radius: vars.$app-border-radius;
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    img {
        @extend %fillspace;
        object-fit: cover;
    }
    overflow: hidden;
    

    color: vars.$dockbar-item-color;

    @extend %flexbox;
    justify-content: center;
    align-items: center;
}

.slideshow {
    background: #EEE;
    height: 100%;
}

.slide {
    // width: 66%;
    // height: 200px;
    width: 100%;
    height: 100%;

    // margin-right: 10px;

    background: vars.$app-menu-bg-color;
    counter-increment: slide;


    @extend %flexbox;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* CAUROSEL FLICKITY CUSTOM STYLES */ 
// ------------------------------------------------------------

// ------------------------------------------------------------

/* PAGE DOTS
position dots in carousel */
.flickity-page-dots {
    position: absolute !important;
    bottom: -5px !important;
}
/* white circles */
.flickity-page-dots .dot {
    width: 16px !important;
    height: 16px !important;
    opacity: 1 !important;
    background: vars.$page-dot-color !important;
    border: vars.$page-dot-border !important;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: vars.$page-dot-selected-color !important;
    border: vars.$page-dot-selected-border !important;
}

/* NEXT AND PREV BUTTONS 
position outside */
.flickity-prev-next-button.previous {
    position: fixed !important;
    left: -60px !important;

    @media screen and (orientation: portrait){
        display: none;
    }
}
.flickity-prev-next-button.next {
    position: fixed !important;
    right: -60px !important;
    
    @media screen and (orientation: portrait){
        display: none;
    }
}
// ------------------------------------------------------------
// ------------------------------------------------------------