@use 'vars';
@use 'mixins';

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

body {
    text-align: left;
    color: #000;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Caprasimo', cursive;
    font-family: 'Roboto', sans-serif;
}

nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;

    z-index: 100;

    background-color: vars.$primary-bg-color !important;

    // clear the shadow of nav
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

footer {
    margin-top: 150px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    div {
        padding: 20px;

        @extend %flexbox;
        
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        // background-color: cyan;
        
        ul {    
            @extend %flexbox;
            // background-color: red;
    
            li {
                
                margin-right: 20px;
            }
        }

    }
    
    .contacts {
        
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        ul {
            margin-top: 20px;
        }
        a {
            color: #000;
        }
    }
    
    @media screen and (orientation: portrait) {
        
        margin-top: 20px;

        div {
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .copyright {
            margin-top: 10px;
        }

        .contacts {
            ul {
                margin-top: 0;
            }
        }
        .addresses {
            flex-direction: column;
            li {
                margin-bottom: 10px;
            }
            margin-bottom: 10px;
        }
    }
}