@use 'vars';
@use 'mixins';

.frame-container {
    
    @extend %fillspace;
    @extend %flexbox;

    justify-content: center;
    align-items: center;
    
    background-color: vars.$primary-bg-color;

    height: 100%;

}

.hardware-body-container {
    width: 375px;
    height: 667px;

    @extend %flexbox;
    justify-content: flex-start;

    background-color: vars.$hardware-outline-color;


    border-right: vars.$hardware-border;
    border-bottom: vars.$hardware-border;
    border-radius: vars.$hardware-border-radius;

    transform: rotate(4deg) translate(0px, 100px);

}
.hardware-body-container.mobile {
    @extend %fillspace;
}

.screen-container {
    // @extend %flexbox;
    // flex-direction: column;

    width: calc(100% - 11px);
    height: calc(100% - 11px);


    background-color: beige;
    
    border: vars.$screen-border;
    outline: vars.$screen-outline;
    outline-offset: 0px;
    border-radius: vars.$screen-border-radius;

    overflow: hidden;
}

.profile-container {
    
    @extend %fillspace;
    @extend %flexbox;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.profile-img {
    
    width: 150px;
    height: 150px;

    border-radius: 50%;
    border: vars.$profile-border;
}