@use 'vars';
@use 'mixins';

.frame-container {
    
    @extend %fillspace;
    @extend %flexbox;

    justify-content: center;
    align-items: center;
    
    background-color: vars.$primary-bg-color;

    height: 100%;

    perspective: 1000px;

    @media screen and (orientation: portrait) {

        width: 100vw;
        overflow-x: hidden;
        
        height: auto;
        flex-direction: column;


        // background-color: red;
    }
    // @media screen and (orientation: portrait) {
    //     overflow-x: hidden;
    // }
}


.hardware-body-container {
    width: vars.$iPhone14-width;
    height: vars.$iPhone14-height;

    @extend %flexbox;

    background-color: vars.$hardware-outline-color;


    border-right: vars.$hardware-border;
    border-bottom: vars.$hardware-border;
    border-radius: vars.$hardware-border-radius;

    box-shadow: rgba(0, 0, 0, 0.15) 115px 65px 15px 0px;


    transform: rotateY(-19deg) rotateX(21deg) rotateZ(4deg) translate(0px, 100px) skewX(-9deg);

    @media screen and (orientation: portrait) {

        transform-origin: center;
        transform:rotateY(12deg) rotateX(7deg) rotateZ(-5deg) skewX(9deg);

        @media (max-width: 480px) {

            // transform: rotateY(-19deg) rotateX(-21deg) scale(0.95);
            
            transform:rotateY(12deg) rotateX(7deg) rotateZ(-5deg) skewX(7deg) scale(0.95);

            width: vars.$iPhone5s-width;
            height: vars.$iPhone5s-height;
        }
        
        justify-content: flex-end;
        align-items: flex-start;
        box-shadow: rgba(0, 0, 0, 0.15) -65px 65px 15px 0px;
        border-right: 0;
        border-left: vars.$hardware-border;
    }
    
    z-index: 100;
}

// .hardware-body-container::after {
    
//     content: "";
//     position: absolute;
//     //top: 100%; /* Adjust the distance of the shadow from the div */
//     left: 0;
//     bottom: 5px;
    
//     width: 100%;
//     height: 50%; /* Adjust the height of the shadow */
//     // background-color: rgba(0, 0, 0, 0.5); /* Adjust the shadow color and opacity */
    
//     border-radius: vars.$hardware-border-radius;

//     transform-origin: bottom left;

//     transform: skewX(-45deg); /* Adjust the skew angle of the shadow */
//     z-index: -1;
//     box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px, rgba(0, 0, 0, 0.92) 0px 0px 700px 1000px inset;
// }

.hardware-body-container.mobile {
    @extend %fillspace;
}

.screen-container {
    // @extend %flexbox;
    // flex-direction: column;

    width: calc(100% - 3px);
    height: calc(100% - 3px);


    background-color: vars.$screen-bg-color;
    border: vars.$screen-border;
    padding: vars.$screen-padding;
    // outline: vars.$screen-outline;
    // outline-offset: 0px;
    border-radius: vars.$screen-border-radius;

    overflow: hidden;
}

.profile-container {
    
    @extend %fillspace;
    @extend %flexbox;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    @media screen and (orientation: portrait) {
        margin-top: 90px;
        margin-bottom: 80px;
        p {
            text-align: center;
        }
    }
    
    z-index: 110;
}

.profile-img {
    
    width: 150px;
    height: 150px;

    border-radius: 50%;
    border: vars.$profile-border;
}