@use 'vars';
@use 'mixins';

.frame-container {
    
    @extend %fillspace;
    @extend %flexbox;

    justify-content: center;
    align-items: center;
    
    background-color: vars.$primary-bg-color;

    height: 100%;

    perspective: 1000px;

    @media screen and (orientation: portrait) {

        height: auto;
        flex-direction: column;

        // background-color: red;
    }
    // @media screen and (orientation: portrait) {
    //     overflow-x: hidden;
    // }
}


.hardware-body-container {
    width: vars.$iPhone14-width;
    height: vars.$iPhone14-height;

    @extend %flexbox;

    background-color: vars.$hardware-outline-color;


    border-right: vars.$hardware-border;
    border-bottom: vars.$hardware-border;
    border-radius: vars.$hardware-border-radius;


    

    // transform: rotate(4deg) translate(0px, 100px) skewX(-16deg);

    transform: rotateY(-19deg) rotateX(21deg) rotateZ(4deg) translate(0px, 100px) skewX(-9deg);


    @media screen and (orientation: portrait) {

        transform-origin: center;
        transform:rotateY(12deg) rotateX(7deg) rotateZ(-5deg) skewX(9deg);

        @media (max-width: 480px) {

            // transform: rotateY(-19deg) rotateX(-21deg) scale(0.95);
            
            transform:rotateY(12deg) rotateX(7deg) rotateZ(-5deg) skewX(6deg) scale(0.95);

            width: vars.$iPhone5s-width;
            height: vars.$iPhone5s-height;
        }

        justify-content: flex-end;

        border-right: 0;
        border-left: vars.$hardware-border;
        align-items: flex-end;

    }

}
.hardware-body-container.mobile {
    @extend %fillspace;
}

.screen-container {
    // @extend %flexbox;
    // flex-direction: column;

    width: calc(100% - 3px);
    height: calc(100% - 3px);


    background-color: vars.$screen-bg-color;
    border: vars.$screen-border;
    padding: vars.$screen-padding;
    // outline: vars.$screen-outline;
    // outline-offset: 0px;
    border-radius: vars.$screen-border-radius;

    overflow: hidden;
}

.profile-container {
    
    @extend %fillspace;
    @extend %flexbox;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    @media screen and (orientation: portrait) {
        margin-top: 90px;
        margin-bottom: 80px;
        p {
            text-align: center;
        }
    }
}

.profile-img {
    
    width: 150px;
    height: 150px;

    border-radius: 50%;
    border: vars.$profile-border;
}